a:link, a:visited, a:hover, a:active
{
	text-decoration: none;
}

/* inline elements
*************************/

strong
{
	font-weight: bold;
}

/* tabs
*************************/

ul.tabs
{
	display: table;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}

ul.tabs li
{
	margin: 0;
	padding: 0;
	list-style: none;
	display: table-cell;
	float: left;
	position: relative;
}

ul.tabs a
{
	position: relative;
	display: block;
	text-shadow: aqua;
}

/* dropdowns
*************************/

ul.dropdown
{
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	z-index: 999;
	top: 100%;
	width: 250px;
	display: none;
	left: 0;
}

ul.dropdown ul.dropdown
{
	top: 0;
	left: 95%;
}

ul.dropdown li
{
	margin: 0;
	padding: 0;
	float: none;
	position: relative;
	list-style: none;
	display: block;
}

ul.dropdown li a
{
	display: block;
}


/* menu-specifc
*************************/

#menu
{
	position: relative;  
    border: 1px solid #d6d6d6;  
    background: #fff;  
    padding: 15px;  
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);  
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25); 
    
    /*border-radius : 10px;
    -moz-border-radius : 10px;  
    -webkit-border-radius : 10px;  */
    /* For WebKit (Safari, Google Chrome etc) */
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(241, 245, 246)), to(rgb(200, 215, 220)));  
    /* For Mozilla/Gecko (Firefox etc) */
    background : -moz-linear-gradient(top, rgb(241, 245, 246), rgb(200, 215, 220));  
    /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F1F5F6, endColorstr=#C8D7DC)";
    /*height: 25px;*/ 
}

#menu ul
{
	margin: 0 auto;
}

#menu ul li.hasmore
{
	background: url(http://localhost/projects/site_predios/img/drophighlight.png) no-repeat center 27px;
}

#menu ul li h4
{
	margin: 0;
}

#menu ul li h4 a
{
	font-size: 14px;
	font-weight: bold;
	padding: 0 15px;
}

#menu ul li a
{
	padding-left: 4px;
}

#menu ul li a img
{
	vertical-align: middle;
}

#menu ul li a:hover
{
	/*background: url(http://www.hatovial.com/site_predios/img/topselectionleft.png) top left no-repeat;*/
	text-shadow: #497399 1px 1px 2px;
}

#menu ul li a:hover
{
	transition: .2s;
	-moz-transition: .2s; /* Firefox 4 */
	-webkit-transition: .2s; /* Safari and Chrome */
	-o-transition: .2s; /* Opera */
	
	transform:scale(1.1);
	-ms-transform:scale(1.1); /* IE 9 */
	-moz-transform:scale(1.1); /* Firefox */
	-webkit-transform:scale(1.1); /* Safari and Chrome */
	-o-transform:scale(1.1); /* Opera */
}

#menu ul li a span
{
	display: block;
	padding: 0 15px 0 11px;
	border-radius:8px;
	text-shadow: #497399 1px 1px 2px;
}

#menu ul li a:hover span
{
	background: url(http://localhost/projects/site_predios/img/topselectionright.png) top right;
}

#menu ul.dropdown
{
	padding: 10px;
	background-image: url(http://localhost/projects/site_predios/img/fondo.jpg);
	overflow:hidden;
	border-bottom: 1px solid #0033AB;
	width: 290px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

#menu ul.dropdown li a
{
	border-bottom: 1px solid #0033AB;
	line-height: 30px;
	overflow: hidden;
	height: 30px;
}

#menu ul.dropdown li.last a
{
	border-bottom-width: 0;
}

#menu ul.dropdown li a:hover
{
	background: url(http://localhost/projects/site_predios/img/menuarrow.png) no-repeat left center;
}

#menu ul li h4 a:hover
{
	background-image: none;
}